.App {
  text-align: center;
  background-color: gray;
  color: blue;
}

.animationWithredux {
  color: yellow;
  font-size: 2rem;
  transition: all ease-in-out 1s;
}
.animationWitoutRedux {
  font-size: 1rem;
  color: darkblue;
  transition: all ease-in-out 1s;
}

.flex-space {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
